<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"light-color","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group has-light-color-background-color has-background" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"mighty-builders/hero-section"} /-->
  <!-- wp:pattern {"slug":"mighty-builders/services-section"} /-->
  <!-- wp:pattern {"slug":"mighty-builders/aboutus-section"} /-->
  <!-- wp:pattern {"slug":"mighty-builders/portfolio-block"} /-->
  <!-- wp:pattern {"slug":"mighty-builders/testimonial-section"} /-->
  <!-- wp:pattern {"slug":"mighty-builders/wws-block"} /-->
  <!-- wp:pattern {"slug":"mighty-builders/team-faq"} /-->
  <!-- wp:pattern {"slug":"mighty-builders/pricing-table-2"} /-->
  <!-- wp:pattern {"slug":"mighty-builders/call-to-action"} /-->
  <!-- wp:pattern {"slug":"mighty-builders/latest-post-grid"} /-->
  <!-- wp:pattern {"slug":"mighty-builders/newsletter-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
